.dashboard-header {
  text-align: left;
  width: 100%;
  height: 50px;
}

.dashboard-header p {
  font-size: 18px;
  font-weight: 400;
}

.dashboard-title {
  display: flex;
  font-size: 48px;
  font-weight: 500;
  gap: 10px;
}

.dashboard-title--color {
  color: #ff0101;
}

.dashboard {
  margin-top: 45px;
  margin-left: 240px;
}

.dashboard-stats {
  display: flex;
  margin-top: 100px;
  margin-left: 0;
  width: 835px;
  flex-direction: column;
  gap: 50;
}

.charts-sessionDuration {
  background-color: #ff0000;
  width: 258px;
  height: 263px;
  border-radius: 5px;
  position: relative;
}

.charts-sessionDuration__background {
  background-color: #000000;
  opacity: 0.1;
  width: 79px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.charts-typeOfPerformance {
  background-color: #282d30;
  width: 258px;
  height: 263px;
  border-radius: 5px;
}

.stats-dailyPerfomances {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
