.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.home h1 {
  font-size: 24px;
  margin-bottom: 16px;
  border-bottom: 2px solid #e60000;
}

.name-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.name {
  font-size: 18px;
  text-decoration: none;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  opacity: 0.6;
  border-radius: 5px;
}

.name:hover {
  opacity: 1;
}
