.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.keyFigure {
  background-color: #fbfbfb;
  width: 258px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyFigure-img {
  margin-right: 24px;
}

.keyFigure-name {
  text-align: start;
}

.keyFigure-name__data {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
}

.keyFigure-name__label {
  font-size: 14px;
  display: block;
  margin-top: 7px;
}
